// Restautant - Polaroid

.restaurant__sectiondiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;

    .restaurant__polaroid a {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        text-align: start;
        text-decoration: none;
        color: $txt-color;
    }

    .restaurant__imgfill {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 18px 18px 0 0;

        .greennew {
            background-color: $newbg-color;
            color: $newtxt-color;
            width: 20%;
            position: relative;
            left: 75%;
            margin-top: 1em;
            //"nouveau"
            display: flex;
            justify-content: center;
            font-weight: 500;
            padding: 0.4em;
            border-radius: 3px;
        }
    }
    // Image background
    #lapalgout {
        background-image: url("../img/lapalgout.jpg");
    }
    #lanotench {
        background-image: url("../img/lanotench.jpg");
    }
    #alafr {
        background-image: url("../img/alafr.jpg");
    }
    #delsens {
        background-image: url("../img/delsens.jpg");
    }

    .restaurant__polaroid__blocktxt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    .restaurant__polaroid__title {
        font-weight: 900;
        padding-bottom: 3px;
        font-size: 1.1em;
    }
    .restaurant__polaroid__heart {
        font-size: 1.4em;
        color: $txtgray-color;
        opacity: 0.8;
        i:hover {
            font-weight: 900;
        }
        &:hover {
            color: $primary-color;
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
        }
    }

    a:hover {
        .restaurant__polaroid__title {
            color: $primary-color;
        }
    }
}
