// PAGES RESTAURANTS
//MAIN

#bodypages{
    background-color: $bg-color;
}
.pages__header{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;

    i{
        position: relative;
        right: 600%;
        font-size: 1.4em;
    }

    a:visited{
        color: black;
    }
}

.section__restaubackground{
    padding: 1em 0 1em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20em;

}
#alafr{
    background-image: url("../img/alafr.jpg");
}
#delsens{
    background-image: url("../img/delsens.jpg");
}
#lanotench{
    background-image: url("../img/lanotench.jpg");
}
#lapalgout{
    background-image: url("../img/lapalgout.jpg");
}
.titleheart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px 40px 0 0;
    background-color: $bg-color;
    padding: 20px;
    position: relative;
    top: 80%;
    width: 100%;


    .restaurant__name{
        font-family: 'Shrikhand';
    }

    i{
        font-size: 1.7em;
        font-weight: 400;
        color: $txtgray-color;
        opacity: 0.8;

        &:hover{
            color: $primary-color;
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;       
          }
    }
}


h3{
    font-weight: 400;
}

.colored__stick{
    background: linear-gradient(to right, $stick-color, $stick-color);
    content: '';
    top: 11px;
    left: 0;
    width: 50px;
    height: 3px;
    margin-top: -15px;
}

.entrees__block{
    background-color: $bg-color;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .entrees__wrapper{
        width:100%;
        display: flex;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 2px 15px 1px rgba(133,133,133,0.5);
    }

    .entrees__wrapper__txt{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
    }

    .infos{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        padding-right: 1em;
    }
    .entrees__title{
        font-weight: 900;
        padding: 1em 0 0 1em;
      
    }
    .infos p:nth-of-type(1n){
        flex: 1 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 1em 0 1em 1em;
    }
    .infos p:last-of-type{
        flex: 0 1;
        padding: 0 2rem;
        font-weight: 900;
        margin-top: 16px;
    }

}


.plats__block{
    background-color: $bg-color;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .plats__wrapper{
        width:100%;
        display: flex;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 2px 15px 1px rgba(133,133,133,0.5);
    }

    .plats__wrapper__txt{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
    }

    .infos{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        padding-right: 1em;
    }
    .plats__title{
        font-weight: 900;
        padding: 1em 0 0 1em;
      
    }

    .infos p:nth-of-type(1n){
        flex: 1 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 1em 0 1em 1em;
    }
    .infos p:last-of-type{
        flex: 0 1;
        padding: 0 2rem;
        font-weight: 900;
        margin-top: 16px;
    }
}


.desserts__block{
    background-color: $bg-color;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .desserts__wrapper{
        width:100%;
        display: flex;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 2px 15px 1px rgba(133,133,133,0.5);
    }

    .desserts__wrapper__txt{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
    }

    .infos{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        padding-right: 1em;
    }
    .desserts__title{
        font-weight: 900;
        padding: 1em 0 0 1em;
      
    }
    
    .infos p:nth-of-type(1n){
        flex: 1 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 1em 0 1em 1em;
    }
    .infos p:last-of-type{
        flex: 0 1;
        padding: 0 2rem;
        font-weight: 900;
        margin-top: 16px;
    }

}

//CHECK WRAPPER ----------------------------------------------

.check-wrapper{
    flex: 0 0 0;
    font-size: 0rem;
    padding: 0rem;
    background-color: $stick-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0 10px 10px 0;
  }
  //ENTREES ----
  .entrees__wrapper:hover{
      
    .check-wrapper{
      flex: 0 0 2em;
      font-size: 1.5em;
      padding: 1em;
      animation-duration: 0.5s;
      animation-name: check-wrapper-animation;
    }

    .fa-check-circle{
      animation-duration: 0.5s;
      animation-name: spin;
    }
  }
  //PLATS ----
  .plats__wrapper:hover{
    
    .check-wrapper{
      flex: 0 0 2em;
      font-size: 1.5em;
      padding: 1em;
      animation-duration: 0.5s;
      animation-name: check-wrapper-animation;
    }

    .fa-check-circle{
      animation-duration: 0.5s;
      animation-name: spin;
    }
  }
  //DESSERTS ----
  .desserts__wrapper:hover{
    
    .check-wrapper{
      flex: 0 0 2em;
      font-size: 1.5em;
      padding: 1em;
      animation-duration: 0.5s;
      animation-name: check-wrapper-animation;
    }

    .fa-check-circle{
      animation-duration: 0.5s;
      animation-name: spin;
    }
  }

//--------------------------------------------------------------------------







// BTN COMMAND
.section__command__btn{
    padding: 30px 20px 60px 20px;
}
.command__btn{
    background-color: $secondary-color;
    border-radius: 25px;
    text-align: center;
    align-content: center;
    padding: 1em 0.8em;
    width: 50%;
    margin: auto;
    background: linear-gradient($secondary-color, $primary-color);

    &__txt{
        color: white;
        text-decoration: none;
        font-weight: 400;  
    }
    
}

.command__btn:hover{
    background: darken($secondary-color, 5);
}


// ANIMATIONS

.entrees__wrapper{
    animation: fadein ease 3s;
}

.plats__wrapper{
    animation: fadein ease 6s;
}

.desserts__wrapper{
    animation: fadein ease 8s;
}

.entrees__block, .plats__block, .desserts__block{

    h3{
        animation: slideR_L ease 2s;
     }
}

