@import "../utils/variables";
@import "../layout/container";
@import "../layout/footer";
@import "../layout/head";
@import "../layout/pages";


// MAIN ----------------------------------------->

*,*::after,*::before{
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}

body{
    font-family: 'Roboto';

    section{
        padding: 1em;
    }
}

header{
  
    text-align: center;
    font-family: 'Shrikhand';
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.75);

    h1{
        padding: 0.5em 0 0.2em 0;
    }
}


footer
{
    background-color: $bg-footer-color;
    color: $txt-footer-color;
    padding: 1em;

    ul li{
        list-style-type: none;
        padding-bottom: 0.5em;

        .fas{
            font-size: 13px;
        }
    
    }

    h3{

        font-family: 'Shrikhand';
        font-weight: 200;
        padding-bottom: 1em;
    }
}

