$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #f5edff;
$txtgray-color: #656565;
$bg-color: #f7f7f7;
$position-color: #eaeaea;
$txt-color: black;
$bg-footer-color: #353535;
$txt-footer-color: white;
$stick-color: #99e2d0;
$newbg-color: #99e2d0;
$newtxt-color: #008766;
